.container-fluid, .container {
	background-color: #BFD7EA;
	font-family: 'Raleway', sans-serif;
	text-align: center; 
	color: #495565;
	/*color: #778DA8; the color of the avg icons*/
}

ul {
	list-style-type: none;
	padding: 0;
}

h2 {
	font-weight: 700;
	letter-spacing: 1.5px;
	font-size: 2.5em;
	color: #495565;
}

.row {
	/*border: 2px solid black; */
}

.section { /* research which css goes first */
	/*margin-top: 5em;
    margin-bottom: 5em;*/
	padding-top: 7em;
    padding-bottom: 5em;
    -webkit-transition: background-color 0.7s ease-in-out;
	-moz-transition: background-color 0.7s ease-in-out;
	-o-transition: background-color 0.7s ease-in-out;
	transition: background-color 0.7s ease-in-out;
}

.home-section {
	padding-bottom: 10em;
}

#lightbulb {
	height: 25em;
	 -webkit-filter: invert(30%);
    filter: invert(30%);
}

/*.about-section {
	background-color: #91B5D1;
}
*/

.about-color-change {
	background-color: #91B5D1;
    -webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}

.circle-image {
	max-height: 15em;
	border-radius: 50%;
    transition: linear 0.1s;
   	opacity: 0.8;
}

.circle-image-border {
	border: 0.5em solid #495565;
	cursor: pointer;
	transition: linear 0.1s;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.circle-image-active {
	opacity: 1;
	transition: linear 0.1s;
    transform: translateX(15.5%);
    -webkit-transform: translateX(15.5%);
    -ms-transform: translateX(15.5%);
}

.about-bio, .experience-bio {
	margin-top: 3em;
}

.experience-section {
	background-color: #91B5D1
}

.experience-color-change {
	background-color: #618BAC;
    -webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}

#quote {
	margin-bottom: 2em;
}

.contact-section {
	font-size: 1.5em;
    font-weight: 700;
    background-color: #4e616f;
    padding-top: 3em;
    padding-bottom: 2em;
    color: #BFD7EA;
}

.contact-section ul li {
	display: inline;
}

.contact-section ul img {
	height: 3em;
}

.col-lg-12, .col-md-12, .col-s-12, .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}





