/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
}

.text {
	position: absolute;
	font-size: 36px;
	font-weight: 500;
    top: 45%;
    left: 25%;
    z-index: 2;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

.text-line {
	opacity: 0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 1.5s;

   	-webkit-animation-fill-mode: forwards; 
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

#footer-text {
	position: absolute;
	height: 100px;
}

.header-text {
	font-size: 42px;
	font-weight: 700;
}

.line2 {
	-webkit-animation-delay: 1.7s;
	-moz-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
.line3 {
	padding-left: 50px;
	-webkit-animation-delay: 2.7s;
	-moz-animation-delay: 2.7s;
	animation-delay: 2.7s;
}
.line4 {

	padding-left: 100px;
	-webkit-animation-delay: 3.7s;
	-moz-animation-delay: 3.7s;
	animation-delay: 3.7s;
}

.line5 {
	position: absolute;
	top: 75%;
	left: 100%;
	height: 100px;
	width: 100%;
	filter: invert(100%);
   	-webkit-filter:invert(100%);
   	-webkit-animation-delay: 4.7s;
	-moz-animation-delay: 4.7s;
	animation-delay: 4.7s;
	transition: linear 0.2s;

}

.line5:hover {
	transition: linear 0.2s;
	cursor: pointer;
	 transform: translateY(15px);
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
}

.section {
	width: 100%;
	height: 960px;
	position: relative;
}

#home-section {
	overflow: hidden;
	color: rgba(200, 30, 46, 0.6);
	background-color: #FA909A;
}

#about-section {
	background-color: #FFBE92;
	color: black;
	overflow: hidden;
}

.about-item {
	position: absolute;
	top: 20%;
	left: 10.5%;
/*	left: 12.5%;
*/}

.circle-image {
	height: 400px;
	border-radius: 50%;
    transition: linear 0.5s;
   	opacity: 0;
}

.circle-image-border {
	border: 15px solid #FFD8BD;
	cursor: pointer;
	transition: linear 0.5s;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.circle-image-active {
	opacity: 1;
	transition: linear 0.5s;
    transform: translateX(15.5%);
    -webkit-transform: translateX(15.5%);
    -ms-transform: translateX(15.5%);
}

.hidden-box {
	text-align: center;
	vertical-align: center;
	position: absolute;
/*	left: calc(100%);
*/	left: calc(50%);
	top: calc(25%);
	background: white;
	width: 600px; 
	height: 250px;
	border-radius: 25px;
	transition: linear 0.5s;
	box-shadow: 0px 0px 5px #edeae5;
	opacity: 0;
	padding: 30px;
}

.hidden-box-border {
	border: 5px solid #FFD8BD;
	cursor: pointer;
	transition: linear 0.2s;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#contribute-line {
	height: 10px;
	width: 100%;
	background: white;
}

.hidden-box-active {
	opacity: 1;
    transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
}


#projects-section {
	position: relative;
	background-color: #FA909A;
	z-index: 10;
}

.project-wrapper {
	position: relative;
}

.box1 {
    top: 12%; 
    left: 8%;
}

.box2 {
    top: 12%; 
    left: 38%;
}

.box3 {
    top: 12%; 
    left: 68%;
}

.box-text {
	margin-top: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 45px;
	letter-spacing: 5px;
	color: #F76A77;
}

.project-box {
	height: 720px; 
	width: 400px; 
	position: absolute;
	margin: auto;
	background-color: #FDBCC2;
	display: inline-block;
    text-align: center;
    border-radius: 35px;
}

.project-box:hover {
	transition: linear 0.2s;
	opacity: 0.7;
	cursor: pointer;
}

#carousel-section {
	top: 0;
	background-color: white;
	z-index: 1;
}


.about-item3 {
	position: absolute;
	top: 70%;
	left: 18%;
}

.about-item4 {
	position: absolute;
	top: 79.5%;
	display: inline-block;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

.image-wrapper {
	width: auto;
	height: 200px;
    overflow: hidden; 
    white-space: nowrap;
    display: flex;
    background-color: white;
}

.image-box {
	height: 200px; 
	width: 200px; 
	display: inline-block;
	border: 1px dotted #FFD8BD;
    text-align: center;
    overflow: hidden;	
}

.image-box:hover {
	opacity: 0.7;
	transition: linear 0.4s;
}

#button {
    border: none;
    color: white;
    padding: 20px 80px;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
   	background-color: #E34655;
}

#button:hover {
	background-color: #C81E2E;
	cursor: pointer;
	transition: linear 0.2s;
}

.button-border {
	border: 10px solid white;
	opacity: 0.8;
	transition: linear 0.2s;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about-item-active {
	border: 4px solid ;
}
#contact-section {
	background-color: #FFA96E;
}

#fact-text {
	color: black;
}

.image-container {
	opacity: 0.7;
}

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 900px;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

img {
	max-width: 100%;
	max-height: 100%;
}

#nav {
	position: fixed;
    background: rgba(227, 70, 85, 0.7);
    color: white;
    width: 100%;
    z-index: 100;
}

#nav .container {
    padding: 14px 0px;
}

#nav-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    float: left;
    line-height: 24px;
    padding-left: 24px;
}

#nav-title:hover {
	color: #FFA96E;
	cursor: pointer;
}

#nav-item-container {
    float: right;
}

.clear {
    clear: both;
}

.nav-item {
    float: left;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 2px;
    margin-left: 48px;
    font-weight: 400;
}

.nav-item:hover {
	cursor: pointer;
	color: #FFA96E;
}

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

.about-text {
	opacity: 1;
	position: absolute;
	font-size: 36px;
	font-weight: 500;
    top: 50%;
    left: 40%;
    z-index: 2;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

.project {
	color: white;
	position: absolute;
	font-size: 36px;
	font-weight: 600;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}

#projects-overlay {
  	width: 100%;
  	height: 100%;
  	opacity: 50%;
  	background: rgba(0, 0, 0, 0.5);
}

.icon-box {
	position: absolute;
	margin: auto;
	display: inline-block;
    text-align: center;
   	filter: invert(100%);
   	-webkit-filter:invert(100%);
}

.icon-box:hover {
	cursor: pointer;
	width: 120px;
	transition: linear 0.5s;
}

.icon1 {
	width: 110px; 
	top: 35%;
	left: 80%;

}

.icon2 {
	width: 110px; 
	top: 50%;
	left: 80%;

}

.icon3 {
	width: 100px;
	top: 62.5%;
	left: 80.5%;
}



.contact-title {
	position: absolute;
	font-size: 36px;
	font-weight: 500;
	top: 20%;
	left: 10%;
	color: #FFE7BD;
}

.contact-info {
	position: absolute;
	top: 30%;
	left: 10%;
}

label {
	font-size: 22px;
	color: #FFE7BD;
}

input {
	height: 40px;
	width: 600px;
	font-size: 22px;
}

textarea {
	height: 200px;
	width: 600px;
	font-size: 22px;
}

@media(max-width: 600px) {
	#nav {
	    color: white;
	    width: 100%;
	    z-index: 1;
	    float: none;
	}

	#nav .container {
	    padding: 14px 0px;
	    float: none;
	    width: 100%;
	}

	#nav-title {
		display: block;
	    text-align: center;
	    float: none;
	}

	.nav-item-container {
		display: block;
		text-align: center;
		float: none;
	}

	.nav-item {
	    display: block;
	    text-align: center;
	    width: 100%;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-top: 5px;
	    margin-right: 100px;
	    margin-left: 0px;

	}
}

